body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 0 1.25rem;
    max-width: 900px;
    margin: 0 auto;
}

#header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

#cover-photo {
    width: 500px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .container p {
        text-align: left;
    }

    .project {
        border: 1px solid #ccc;
        padding: 15px;
        margin: 10px;
        border-radius: 25px;
    }

}

.description {
    text-align: left;
}

.container {
    margin: 30px auto;
    padding: 1rem;
    background-color: #C0C0C0;
    border-radius: 25px;
}

.project {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
}

.project-link {
    text-decoration: none;
    color: #007bff;
    transition: transform 0.3s ease-in-out;
}

.project-link:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.project img {
    max-width: 100%;
}

.contact {
    margin: 50px;
    text-align: center;
    flex: 0 1 auto;
}

.contact-container {
    background-color: #f9f9f9;
    border-radius: 25px;
    padding: 20px;
    margin: 20px 0;
}

.contact-header {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.contacts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-link {
    text-decoration: none;
    display: block;
    color: #007bff;
    transition: transform 0.3s ease-in-out;
}

.icon-link:hover {
    text-decoration: underline;
    transform: scale(1.1);
}
.platform-name {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

.icon-link img {
    width: 50px;
}
